{% extends 'base.html' %}

{% block content %}
<!--div class="container-lg mt-3"-->
<h1>
 Сайт: {{ name }}
</h1>
<div class="table-responsive">
 <table class="table table-bordered table-hover text-nowrap" data-test="url">
  <tbody>
   <tr>
    <td>
     ID
    </td>
    <td>
     {{ url_id or '' }}
    </td>
   </tr>
   <tr>
    <td>
     Имя
    </td>
    <td>
     {{ name or '' }}
    </td>
   </tr>
   <tr>
    <td>
     Дата создания
    </td>
    <td>
     {{ date or '' }}
    </td>
   </tr>
  </tbody>
 </table>
</div>
<!--/div-->
<h2 class="mt-5 mb-3">
 Проверки
</h2>
<form action="/urls/{{ url_id }}/checks" method="post">
 <input class="btn btn-primary" type="submit" value="Запустить проверку"/>
</form>
<div>
 <table class="table table-bordered table-hover mt-2" data-test="checks">
  <thead>
   <tr>
    <th>
     ID
    </th>
    <th>
     Код ответа
    </th>
    <th>
     h1
    </th>
    <th>
     title
    </th>
    <th>
     description
    </th>
    <th>
     Дата создания
    </th>
   </tr>
  </thead>
  <tbody>
   {% for check in checks %}
   <tr>
    <td>
     {{ check[0] or '' }}
    </td>
    <td>
     {{ check[1] or '' }}
    </td>
    <td>
     {{ check[2] or '' }}
    </td>
    <td>
     {{ check[3] or '' }}
    </td>
    <td>
     {{ check[4] or '' }}
    </td>
    <td>
     {{ check[5] or '' }}
    </td>
   </tr>
   {% endfor %}
  </tbody>
 </table>
</div>
{% endblock %}
